// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";

// Generics
img{
    max-width:                100%;
}

body{
    font-family:              $font-family-sans-serif;
    font-size:                $font-size-base;
    line-height:              $line-height-base;
}

hr{
    border:                   1px solid $secondary;
}

// Utils
.bg-yellow{
    background-color:         $yellow;
}

.bg-lightbrown{
    background-color:         $lightbrown;
}

.bg-blue{
    background-color:         $blue;
}

.bg-green{
    background-color:         $green;
}

.my-card-shadow{
    box-shadow:               $my-card-shadow;
}

.filter-invert{
    filter:                   invert(1);
}

.bg-img{
    height: 100vh;
    background-image:         $my-bg-img;
    background-size:          cover;
    background-position:      center;
}

.my-card{
    color:                    white;
    background-color:         $my-opacity;
    backdrop-filter:          $my-blur;
    -webkit-backdrop-filter:  $my-blur; // Safari
    border:                   $my-border;
    border-radius:            20px;
    box-shadow:               $my-card-shadow;
    padding-top:              20px;

    .my-card-logo{
        width:                50px;
        height:               50px;
        background-color:     $primary;
        background-image:     $app-logo;
        background-size:      cover;
        background-position:  center;
        border:               $my-border;
        border-radius:        50%;
        box-shadow:           $my-card-shadow;
        position:             absolute;
            top:              0;
            right:            50%;
            transform:        translate(50%, -50%);
    }

    // User profile logo
    .user-logo{
        width:                100px;
        height:               100px;
        background-color:     $primary;
        border:               2px solid $secondary;
        border-radius:        50%;
        position:             absolute;
            top:              0;
            right:            50%;
            transform:        translate(50%, -60%);

            .user-logo-img{
                border-radius: 50%;
                filter:        invert(1);
            }

    }

    // Tour thumbnail conatiner
    .tour-logo{
        width:                150px;
        height:               150px;
        background-color:     $primary;
        box-shadow:           0 0 10px 1px $secondary;
        border-radius:        50%;
        position:             absolute;
            top:              0;
            right:            50%;
            transform:        translate(50%, -70%);

        .tour-thumbnail{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            padding: 2px;
        }
    }

    //Tour Thumbnail
    .thumbnail{
        width: 70px;
        height: 70px;
        border-radius: 20px;
        box-shadow: 0 0 10px 1px $secondary;
    }
}

.input-container {
    margin:                   15px auto;

    input, textarea {
        background:           transparent;
        border-radius:        20px;
        font-size:            16px;
        transition:           border-color 0.3s;

        &:focus,
        &:valid {
            color:            white;
            background:       transparent;
            border-radius:    0 20px 20px 20px;
            border-color:     $secondary;
        }

        &:focus + label,
        &:valid + label{
            background:       transparent;
            color:            $secondary;
            font-size:        14px;
            top:              -10px;
            left:             -10px;
        }

        &:focus ~ .input-instruction,
        &:valid ~ .input-instruction {
            display:          block;
        }
    }

    input[type="date"].custom-date,
    input[type="time"].custom-time {
        &::-webkit-calendar-picker-indicator {
            filter: invert(1);
        }

        &::-webkit-datetime-edit {
            color: transparent;
        }
    }

    input[type="date"].custom-date:focus,
    input[type="date"].custom-date:valid,
    input[type="time"].custom-time:focus,
    input[type="time"].custom-time:valid {
        &::-webkit-datetime-edit {
            color: white;
        }
    }



    label {
        color:                white;
        font-size:            16px;
        line-height:          normal;
        pointer-events:       none;
        position:             absolute;
            top:              50%;
            left:             0;
            transform:        translateY(-50%);
        transition:           0.3s;
        padding-left:         20px;
    }

    .input-instruction {
    display:                  none;
    color:                    $secondary;
    font-size:                10px;
    font-style:               italic;
    margin:                   10px 0;
    }
}

.active{
    border-bottom:            2px solid $secondary;
    border-top:               2px solid $secondary;
    border-radius:            20px;
    padding:                  3px 10px;


}

.hover{
    &:hover{
        border-radius:        20px;
        background-color:     rgba($secondary, $alpha: 0.2);
        transition-duration:  0.5s;
    }
}

.table-hover{
    &:hover{
        scale:                1.01;
    }
}
// Headers
.header-logo{
    width:                    40px;
    margin-right:             50px;
}


