// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";

// Generics
img{
    max-width: 100%;
}

// Utils
.bg-yellow{
    background-color: $yellow;
}

.bg-lightbrown{
    background-color: $lightbrown;
}

.bg-blue{
    background-color: $blue;
}

.bg-green{
    background-color: $green;
}

// Headers
.header-logo{
    width: 40px;
    filter: brightness(0);
    margin-right: 50px;
}
